*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.xcontainer {
  max-width: 1310px;
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
}

.header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 84px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 27px 485px 28px 0px;
}

@media (max-width: 992px) {
  .header__logo {
    margin: 27px 244px 28px 0px;
  }
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  font-weight: 600;
  margin: 30px 0px;
}

.menu__item:not(:last-child) {
  margin: 0px 32px 0px 0px;
}

.menu__link {
  color: #394149;
  line-height: calc(24 / 14 * 100%);
}

.header__button {
  background-color: rgba(245, 138, 7, 0.1);
  white-space: nowrap;
  line-height: 17px;
  max-width: 173px;
  max-height: 52px;
  padding: 18px 32px 17px 32px;
  border-radius: 31px;
  margin: 16px 0px 16px 40px;
  color: #f58a07;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
}
