*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xcontainer {
  max-width: 1310px;
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
}

.header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 28px 485px 28px 0px;
}

@media (max-width: 991px) {
  .header__logo {
    margin: 28px 250px 28px 0px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 28px 120px 28px 0px;
  }
}

@media (max-width: 479px) {
  .header__logo {
    margin: 27px 60px 28px 0px;
  }
}

.menu__link {
  font-size: 16px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  font-weight: 600;
  margin: 30px 0px;
}

.menu__item:not(:last-child) {
  margin: 0px 32px 0px 0px;
}

.menu__link {
  color: #394149;
  line-height: calc(24 / 14 * 100%);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
  background: #DCEAF5;
  min-height: 703px;
}

.main-block__image {
  position: absolute;
  top: 144px;
  left: 857px;
  z-index: 4;
}

.main-block__first-orange {
  position: absolute;
  width: 181px;
  height: 370px;
  top: 419px;
  left: 1042px;
  opacity: 0.75;
  background: #F58A07;
  mix-blend-mode: multiply;
  border-radius: 25px 25px 0px 0px;
  z-index: 5;
}

.main-block__second-orange {
  position: absolute;
  width: 155px;
  height: 241px;
  top: 548px;
  left: 1420px;
  background: #F58A07;
  mix-blend-mode: multiply;
  border-radius: 25px 25px 0px 0px;
  z-index: 3;
}

.main-block__body {
  padding: 202px 0px 147px 0px;
  position: relative;
  z-index: 8;
  max-width: 600px;
}

.main-block__title {
  line-height: calc(72 / 64 * 100%);
  letter-spacing: -2px;
  font-size: 64px;
  font-weight: 600;
  color: #1D3444;
}

.main-block__text {
  line-height: calc(30 / 18 * 100%);
  font-size: 18px;
  font-weight: 500;
  color: #5b5b5b;
  padding: 13px 0 0 0;
}

.main-block__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 17px;
  text-transform: capitalize;
  padding: 32px 0px 0px 0px;
}

.main-block__first-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #F58A07;
  border-radius: 27px;
  min-height: 54px;
  padding: 15px 31px 17px 32px;
}

.main-block__second-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 40px;
  color: #1D3444;
}

.main-block__experience {
  padding: 56px 0px 0px 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(57, 65, 73, 0.5);
}

.main-block__companies {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A5D69;
  padding: 18px 0px 0px 0px;
}

.companies__first-company {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 45px 0px 0px;
}

.companies__first-company img:first-child {
  padding: 0px 7px 0px 0px;
}

.companies__second-company {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__second-company img:first-child {
  padding: 0px 9px 0px 0px;
}

.companies__third-company {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 48px;
}

.companies__third-company img:first-child {
  padding: 0px 7px 0px 0px;
}
