*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.xcontainer {
	max-width: 1280px;
	margin: 0px auto;
}

.header {
	background-color: #fff;
}

.header__container {
	display: flex;
}

.header__menu {
	display: flex;
}

.header__logo {
	margin: 28px 484px 28px 0px;
}

.menu__list {
	display: inline-flex;
	white-space: nowrap;
	font-weight: 600;
	margin: 30px 0px;
	line-height: 24px;
	color: #394149;
}

.menu__item {
	margin-right: 32px;
}

.header__button {
	background-color: rgba(245, 138, 7, 0.1);
	white-space: nowrap;
	line-height: 17px;
	padding: 18px 35px;
	border-radius: 31px;
	margin: 16px 0px 16px 10px;
	color: #F58A07;
	font-size: 16px;
	font-weight: 600;
}