// ---------------NORMALIZING------------------------------------

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

// ---------------NORMALIZING------------------------------------

// ----------------DEFAULTS--------------------------------------

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #5b5b5b;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.xcontainer {
	max-width: 1310px;
	padding: 0px 15px 0px 15px;
	margin: 0px auto;
}

// ----------------DEFAULTS---------------------------------------

// -----------------HEADER----------------------------------------

.header {
	background-color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__menu {
	display: flex;
}

.header__container {
	display: flex;
	min-height: 84px;
	align-items: center;
}

.header__logo {
	margin: 27px 485px 28px 0px;
}

@media (max-width: 991px) {
	.header__logo {
		margin: 27px 244px 28px 0px;
	}
}

@media (max-width: 767px) {
	.header__logo {
		margin: 27px 120px 28px 0px;
	}
}

@media (max-width: 479px) {
	.header__logo {
		margin: 27px 60px 28px 0px;
	}
}

.menu__link {
	font-size: 16px;
}

.menu {
	padding: 5px 0;
}

.menu__list {
	display: inline-flex;
	flex-wrap: wrap;
	white-space: nowrap;
	font-weight: 600;
	margin: 30px 0px;
}

.menu__item:not(:last-child) {
	margin: 0px 32px 0px 0px;
}

.menu__link {
	color: #394149;
	line-height: calc(24 / 14 * 100%);
}

// .header__button {
// 	background-color: rgba(245, 138, 7, 0.1);
// 	white-space: nowrap;
// 	line-height: 17px;
// 	max-width: 173px;
// 	max-height: 52px;
// 	padding: 18px 32px 17px 32px;
// 	border-radius: 31px;
// 	margin: 16px 0px 16px 40px;
// 	color: #f58a07;
// 	font-size: 16px;
// 	font-weight: 600;
// 	letter-spacing: 0.04em;
// }

// -----------------HEADER----------------------------------------

// ------------------PAGE-----------------------------------------

.page {
	flex: 1 1 auto;
}

.page__main-block {
}

// ------------------PAGE-----------------------------------------

// ---------------MAIN-BLOCK--------------------------------------

.main-block {
	position: relative;

}

.main-block__container {
}

.main-block__image {
	background-image: url(/img/mainblock/cover.jpg);
	background-size: cover;
}

.main-block__body {
	background: #DCEAF5;
}

.main-block__title {
}

.main-block__text {
}

.main-block__buttons {
}

.main-block__button {
}

.main-block__button-border {
}

.main-block__achievement {
}

.main-block__companies {
}

// ---------------MAIN-BLOCK--------------------------------------

// -----------------FOOTER----------------------------------------





// -----------------FOOTER----------------------------------------